.card-collection {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card {
    flex: 1;
    .card-name {
      font-size: 20px;
    }
    .card-info {
      font-size: 14px;
      padding: 0 20px;
    }
  }
}
