.white {
  color: white;
}
.light-white {
  color: rgba(255, 255, 255, 0.5);
}
$light-white: rgba(255, 255, 255, 0.5);
.primary-red {
  color: #ee6e73;
}
$primary-red : #ee6e73;
$second-red: rgba(243, 152, 155, 0.51);
$light-black: rgba( 0, 0, 0, 0.6);
.light-black {
  color: rgba( 0, 0, 0, 0.6);
}
