@import "./colors.scss";
#footer {
  background-color: $primary-red;
  color: white;
  .footer-banner {
    display: flex;
    justify-content: space-between;
    background-color: $second-red;
    padding: 10px 20px;
    .copyright {

    }
    .license-name {

    }
  }
}
